.places__paragraph{
  color: white;
  font-family: "Inter", Arial, sans-serif;
	font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin: 0 0 26px 0;
}
.places__paragraph:last-child{
  margin: 0;
}
@media screen and (max-width: 768px) {
  .places__paragraph{
    font-size: 16px;
  }
}


@media screen and (max-width: 320px) {
  .places__paragraph:not(:last-child){
    margin: 0 16px 25px 16px;
  }
  .places__paragraph:last-child{
    margin: 0 16px 0 16px;
  }
}
