.cover__subtitle{
  font-family: "Inter";
	font-style: normal;
  max-width: 360px;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 0;
  margin: 32px 0 0 0;
  pointer-events: none;
  z-index: 1;

  }


  @media screen and (max-width: 610px) {
    .cover__subtitle{
     font-size: 14px;
    line-height: 16px;
    }
  }

  @media screen and (max-width: 440px) {
    .cover__subtitle{
    font-size: 14px;
    line-height: 16px;
    }
  }
